/.env
/.env.*
!/.env.example
/vendor
/node_modules
/public/storage
/public/css/filament
/public/js/filament
/public/fonts/filament
/storage/*.key
/database/*.sqlite
/.phpunit.cache
/.phpunit.result.cache
.phpunit.cache
